// ****************************************************************************************************
// general
// ****************************************************************************************************

// Core variables and mixins
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/bootstrap";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

@import "w11k-slides/dist/w11k-slides";

$fa-font-path: "assets/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

pre.prettyprint {
  font-size: 0.7em;
}

// ****************************************************************************************************
// w11k-slides bugfixes
// ****************************************************************************************************

li pre.prettyprint.linenums {
  margin: 10px 0;
}
pre.prettyprint.linenums ol.linenums>li:before {
  margin: 0;
}

code {
  background-color: $lineColor;
}

@import "w11k-flash/dist/js/w11k-flash";

ul.conversations {
  li:after {
    content: '|';
    padding-left: 5px;
  }

  li:last-of-type:after {
    content: ''
  }
}

*[ng-click] {
  cursor: pointer;
}
