// ****************************************************************************************************
// general
// ****************************************************************************************************

// Core variables and mixins
@import "twbs-bootstrap-sass/vendor/assets/stylesheets/bootstrap/bootstrap";

// ****************************************************************************************************
// w11k-slides config
// ****************************************************************************************************

@import "w11k-slides/dist/w11k-slides";

pre.prettyprint {
  font-size: 0.7em;
}

// ****************************************************************************************************
// w11k-slides bugfixes
// ****************************************************************************************************

code {
  background-color: $lineColor;
}

@import "w11k-flash/dist/js/w11k-flash";

$fa-font-path: "assets/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

*[ng-click] {
  cursor: pointer;
}
